@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
    min-width: 100%;
    margin: 0;
}

fieldset {
    border: 0;
}

p, span {
    color: #333333;
}

ul {
    list-style: none;
}

.button {
    border-radius: 4px;
    border: none;
}

.button:disabled {
    background-color: #E5E5E5;
}

.button-brown {
    background-color: #756157;
}

.button-brown:hover, .button-brown:focus {
    background-color: #615048;
    outline: none;
}

.button-brown:active {
    background-color: #756157;
}

.button-blue {
    background-color: #82B3D3;
}

.button-blue:hover, .button-blue:focus {
    background-color: #68A2CA;
    outline: none;
}

.button-blue:active {
    background-color: #82B3D3;
    outline: none;
}

.button-blue:active .pagination-link {
    color: rgba(255, 255, 255, 0.3);
}

.button-green {
    background-color: #7DB54F;
}

.button-green:hover, .button-green:focus {
    background-color: #6C9E42;
    outline: none;
}

.button-green:active {
    background-color: #7DB54F;
}

.button:active {
    color: rgba(255, 255, 255, 0.3);
}

.page-header {
    z-index: 1;
}

.header-container {
    box-sizing: border-box;
    padding: 0 70px;
    margin: 0 auto;
    width: 1200px;
}

.main-index-container {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

.main-catalog-container {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.footer-container {
    width: 1200px;
    margin: 0 auto;
}

.main-navigation {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    display: flex;
    height: min-content;
    justify-content: space-between;
}

.main-navigation-list {
    width: 339px;
    display: flex;
    justify-content: space-between;
    margin-left: 28px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    height: min-content;
}

.main-navigation-item {
    padding: 20px 16px;
    height: min-content;
}

.main-navigation-item:first-child, .main-navigation-item:nth-child(3) {
    padding-left: 0;
    padding-right: 0;
    margin-left: 16px;
    margin-right: 16px;
}

.main-navigation-user {
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
    align-items: baseline;
    width: 268px;
}

.main-navigation-link {
    color: #000000;
    text-decoration: none;
}

.main-navigation-user-link {
    width: 100%;
    height: 100%;
    padding: 22px 12px;
    display: inline-block;
    box-sizing: border-box;
}

.main-navigation-user-item {
    margin: 0;
    width: 44px;
    height: 64px;
    box-sizing: border-box;
    position: relative;
}

.favourites-counter-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: #7DB54F;
    border-radius: 10px;
    top: 10px;
    left: 20px;
    box-sizing: border-box
}

.favourites-counter {
    position: relative;
    color: #ffffff;
    font-size: 10px;
    line-height: 10px;
    font-weight: 400;
    top: -5.5px;
}

.main-naviagtion-button-item {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
}

.main-navigation-button {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-transform: uppercase;
    color: #ffffff;
    white-space: nowrap;
    width: 160px;
}

.index-background {
    width: 100%;
    height: 485px;
    display: flex;
    background-image: url(../images/index-background.jpg);
    flex-wrap: wrap;
    position: relative;
    top: -10px;
    margin-bottom: -10px;
}

.welcome-svg {
    width: 458px;
    height: 352px;
    background-image: url(../images/welcome.svg);
    margin: 51px auto 25px auto;
}

.divider {
    width: 1200px;
    height: 57px;
    background-image: url(../images/divider.png);
}

.visually-hidden {
    display: none;
}

.search {
    width: 20px;
    height: 20px;
    margin: auto;
    background-image: url(../images/search.svg);
    background-repeat: no-repeat;
    box-sizing: border-box;
    display: inline-block;
}

.favourites {
    width: 20px;
    height: 20px;
    margin: auto;
    background-image: url(../images/favoutites.svg);
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
}

.advantages {
    text-align: center;
}

.advantages-header {
    padding-top: 69px;
    padding-bottom: 69px;
}

.advantages-container {
    margin: 0;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: auto auto auto;
}

.advantages-list {
    padding: 0;
}

.advantages-item {
    padding: 81px 85px;
    box-sizing: border-box;
}

.advantages-item:nth-child(3), .advantages-item:nth-child(4), .advantages-item:nth-child(5) {
    grid-row-start: 2;
}

.advantages-item:last-child {
    grid-column-start: 3;
}

.city-image {
    background-image: url(../images/advantages-city.jpg);
    width: 800px;
    height: 391px;
    background-size: cover;
}

.bridge-image {
    background-image: url(../images/advantages-bridge.jpg);
    width: 800px;
    height: 391px;
    background-size: cover;
}

.advantages-city-image {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 4;
}

.advantages-bridge-iamge {
    grid-row-start: 3;
}

.advantages-item:nth-child(3), .advantages-item:nth-child(5) {
    background-color: #83B3D31F;
}

.advantages-header-title {
    color: #000000;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.advantages-header-description {
    font-size: 22px;
    line-height: 26px;
    margin-top: 25px;
    margin-bottom: 0;
}

.advantages-item-description {
    line-height: 21px;
}

.advantages-item-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
}

.advantages-item-title::after {
    content: "";
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 36px;
    display: block;
    width: 60px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.3);
}

.advantages-item-title-accent::after {
    background-color: rgba(255, 255, 255, 0.3);
}

.advantages-item-accent {
    background-color: #82B3D3;
    color: #ffffff;
}

.advantages-item-description-accent {
    color: #ffffff;
}

.advantages-item:nth-child(4) {
    background-color: #83B3D333;
}

.services {
    text-align: center;
}

.services-list {
    width: 1200px;
    padding: 0;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 1fr;
    margin-top: 0;
}

.house-image {
    background-image: url(../images/house.svg);
    width: 75px;
    height: 72px;
    margin: 0 auto;
    background-repeat: no-repeat;
}

.burger-image {
    background-image: url(../images/burger.svg);
    width: 75px;
    height: 72px;
    margin: 0 auto;
    background-repeat: no-repeat;
}

.gift-image {
    background-image: url(../images/gift.svg);
    width: 75px;
    height: 76px;
    margin: 0 auto;
    background-repeat: no-repeat;
}

.services-header {
    padding-top: 64px;
    padding-bottom: 64px;
}

.services-header-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.services-header-description {
    font-size: 22px;
    line-height: 26px;
    margin-top: 20px;
    margin-bottom: 0;
}

.services-item {
    padding: 80px 85px;
}

.services-item:first-child, .services-item:last-child {
    background-color: #83B3D31F;
}

.services-item:last-child {
    padding: 78px 85px;
}

.services-item-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
}

.services-item-description {
    line-height: 21px;
}

.hotel-search {
    text-align: center;
    padding: 96px 304px;
}

.hotel-search-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.hotel-search-description {
    font-size: 22px;
    line-height: 26px;
    margin-top: 20px;
    margin-bottom: 54px;
}

.hotel-search-link {
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
}

.hotel-search-button {
    box-sizing: border-box;
    width: 376px;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    padding: 13px 50px;
}

.page-footer {
    text-align: center;
}

.newsletter {
    background-image: url(../images/footer-background.jpg);
    background-size: 100% auto;
    color: #ffffff;
    padding: 96px 258px 104px;
    background-color: #000000;
}

.newsletter-title {
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.newsletter-description {
    color: #ffffff;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    margin-bottom: 53px;
}

.newsletter-form {
    display: grid;
    grid-template-columns: 452px 232px;
    grid-template-rows: auto;
}

.newsletter-form-input {
    line-height: 24px;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 18px;
    padding-left: 15px;
    color: rgba(0, 0, 0, 0.6);
}

.newsletter-form-button {
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    color: #ffffff;
    border: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.newsletter-form-button:active {
    color: rgba(255, 255, 255, 0.3);
}

.footer-contacts-container {
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 40px 70px 30px 70px;
}

.footer-social {
    margin-top: auto;
    margin-bottom: auto;
}

.footer-social-list {
    display: flex;
    width: 142px;
    justify-content: space-around;
    padding: 9px 0;
    margin: 0;
    box-sizing: border-box;
}

.footer-social-link {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.footer-social-link:focus {
    outline: none;
}

.social-icons:hover, .social-icons:focus {
    filter: invert(61%) sepia(53%) saturate(323%) hue-rotate(161deg) brightness(89%) contrast(94%);
    outline: none;
}

.social-icons:active {
    filter: invert(61%) sepia(53%) saturate(323%) hue-rotate(161deg) brightness(89%) contrast(94%);
    opacity: 0.3;
}

.footer-contacts {
    margin-top: auto;
    margin-bottom: auto;
    padding: 5px 0;
    box-sizing: border-box;
}

.footer-contacts-link {
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}

.footer-contacts-link:hover, .footer-contacts-link:focus {
    color: #756157;
    outline: none;
}

.footer-contacts-link:active {
    color: rgba(117, 97, 87, 0.3);;
}

.developer {
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 3px;
    box-sizing: border-box;
}

.developer-link {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.developer-logo:hover, .developer-logo:focus {
    filter: invert(42%) sepia(2%) saturate(3773%) hue-rotate(335deg) brightness(96%) contrast(108%);
    outline: none;
}

.developer-logo:active {
    filter: invert(42%) sepia(2%) saturate(3773%) hue-rotate(335deg) brightness(96%) contrast(108%);
    opacity: 0.3;
}

.main-navigation-link-current {
    border-bottom: 2px solid #756257;
}

.inner-header {
    color: #ffffff;
}

.catalog-background {
    width: 1200px;
    height: 408px;
    background-image: url(../images/catalog-background.jpg);
    padding: 35px 70px 70px 70px;
    box-sizing: border-box;
    position: relative;
    top: -10px;
    margin-bottom: -10px;
}

.inner-header-title {
    font-size: 60px;
    font-weight: 700;
    line-height: 78px;
    margin-top: 0;
    margin-bottom: 8px;
}

.breadcrumbs {
    display: flex;
    width: 114px;
    padding-left: 0;
    justify-content: space-between;
    margin: 0;
    align-items: baseline;
    margin-bottom: 40px;
}

.breadcrumbs-item:first-child {
    width: 13px;
    height: 13px;
}

.breadcrumbs-house-svg {
    background-image: url(../images/home-page.svg);
    width: 13px;
    height: 13px;
    background-repeat: no-repeat;
}

.arrow-svg {
    background-image: url(../images/arrow.svg);
    width: 8px;
    height: 11px;
    background-repeat: no-repeat;
}

.breadcrumbs-link {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    line-height: 21px;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.breadcrumbs-link:hover {
    color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
    color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:focus {
    outline: none;
}

.breadcrumbs-house-icon {
    background-image: url(../images/);
    background-repeat: no-repeat;
}

.catalog-filters-form {
    width: 1060px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.catalog-filter-group-price {
    padding: 0;
}

.catalog-filter-group {
    padding: 0;
    margin: 0;
}

.catalog-filter-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 32px;
}

.catalog-filter-list {
    line-height: 23px;
    padding: 0;
    margin: 0;
}

.catalog-filter-item {
    margin-bottom: 16px;
}

.catalog-filter-item:last-child {
    margin-bottom: 0;
}

.input-checkbox {
    position: relative;
}

.control-checkbox {
    padding-left: 36px;
}

.control-checkbox-button {
    content:"";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: none;
    background-color: #ffffff;
    position: absolute;
    top: 1.5px;
    z-index: 1;
}

.control-checkbox-button:focus {
    outline: none;
}

.control-input:focus ~ .control-checkbox-button,
.control-input:focus ~ .control-radio-button {
    outline: 3px solid #83B3D3;
}

.checkbox-checked {
    display: block;
    width: 13px;
    height: 11px;
    position: absolute;
    top: 7px;
    left: 4px;
    z-index: 2;
    opacity: 0;
}

.control-input {
    appearance: none;
    position: absolute;
}

.control-input:focus {
    outline: none;
}

.control-input:checked + .checkbox-checked,
.control-input:checked + .radio-checked {
    opacity: 1;
}

.input-radio {
    position: relative;
}

.input-radio:hover, .input-checkbox:hover {
    opacity: 0.6;
}

.input-radio:active, .input-checkbox:active {
    opacity: 0.3;
}

.control-radio {
    padding-left: 36px;
}

.control-radio-button {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: none;
    background-color: #ffffff;
    position: absolute;
    top: 1.5px;
}

.control-radio-button:focus {
    outline: none;
}

.radio-checked {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #3F5E72;
    position: absolute;
    top: 6px;
    left: 5px;
    opacity: 0;
    z-index: 2;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
}

.price-filter-group {
    display: grid;
    grid-template-columns: 143px 143px;
    grid-template-rows: auto;
    margin-bottom: 44px;
    gap: 2px;
    position: relative;
    width: 288px;
}

.price-control-from, .price-control-to {
    position: absolute;
    color: rgba(0, 0, 0, 0.3);
    font-weight: 400;
    font-size: 16px;
}

.price-control-from {
    top: 10px;
    left: 108px;
    z-index: 3;
}

.price-control-to {
    top: 10px;
    left: 253px;
    z-index: 3;
}

.price-filter-range {
    width: 288px;
    height: 4px;
    background-color: #5E676D;
    position: relative;
}

.range-progress {
    position: absolute;
    height: 4px;
    left: 25%;
    right: 25%;
    background-color: #ffffff;
}

.range-inputs {
    position: relative;
    width: 100%;
}

.input-range {
    margin-left: 0;
}

.input-range:focus {
    outline: none;
}

.range-inputs input {
    position: absolute;
    top: -6px;
    height: 4px;
    width: 100%;
    background: none;
    appearance: none;
    pointer-events: none;
}

input[type="range"]::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    appearance: none;
    background-color: #ffffff;
    pointer-events: auto;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    appearance: none;
    background-color: #ffffff;
    pointer-events: auto;
    -moz-appearance: none;
    border: none;
}

.input-price-filter {
    width: 143px;
    padding: 12px 0 12px 15px;
    border: none;
    box-sizing: border-box;
    font-weight: 700;
    line-height: 24px;
    font-size: 24;
    -moz-appearance: textfield;
    background-color: #F2F2F2;
}

.input-price-filter:hover, .input-price-filter:focus {
    background-color: #E6E6E6;
    outline: none;
}

.input-price-filter:focus {
    outline: 3px solid #83B3D3;
    z-index: 2;
}

.input-price-filter-from {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.input-price-filter-to {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.catalog-filter-button-group {
    width: 191px;
}

.catalog-filter-button {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    width: 191px;
    padding: 8px 12px;
    box-sizing: border-box;
}

.catalog-filter-button:first-child {
    margin-bottom: 32px;
}

.transparent-filter-button {
    background-color: transparent;
}

.transparent-filter-button:hover {
    color: rgba(255, 255, 255, 0.6);
}

.transparent-filter-button:active {
    color: rgba(255, 255, 255, 0.3);
}

.transparent-filter-button:focus {
    outline: 3px solid #83B3D3;
}

.transparent-filter-button:disabled {
    color: rgba(255, 255, 255, 0.1);
}

.catalog-results {
    padding: 50px 70px 60px 70px;
}

.catalog-results-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 1060px;
    margin-bottom: 40px;
}

.catalog-results-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    padding: 6px 0 6px 0;
    text-transform: uppercase;
    color: #000000;
}

.catalog-select {
    margin: auto 70px auto auto;
    position: relative;
}

.catalog-select::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 17px;
    width: 12px;
    height: 9px;
    background-image: url(../images/select-arrow.svg);
    z-index: -1;
}

.select-control {
    line-height: 21px;
    font-size: 16px;
    width: 292px;
    padding: 14px 15px;
    outline: 2px solid #F2F2F2;
    border: none;
    border-radius: 4px;
    appearance: none;
    background: none;
}

.select-control:hover, .select-control:focus {
    outline: 2px solid #68A2CA;
}

.select-control:disabled {
    color: rgba(0, 0, 0, 0.3);
}

.showcase-modes {
    display: flex;
    width: 160px;
    justify-content: space-between;
    padding: 0;
    margin: auto 0 auto 0;
}

.showcase-mode {
    box-sizing: border-box;
    border: 2px solid #F2F2F2;
    border-radius: 4px;
    width: 48px;
    height: 48px;
}

.showcase-modes-link:hover, .showcase-modes-link:active {
    outline: 2px solid #000000;
}

.showcase-modes-link:focus {
    outline: 2px solid #68A2CA;
}

.mode-image {
    width: 16px;
    height: 14px;
    margin: auto;
}

.cards-mode {
    background-image: url(../images/button-cards.svg);
    background-repeat: no-repeat;
}

.fullscreen-mode {
    background-image: url(../images/button-fullscreen.svg);
    background-repeat: no-repeat;
}

.list-mode {
    background-image: url(../images/button-list.svg);
    background-repeat: no-repeat;
}

.showcase-modes-link {
    width: 100%;
    height: 100%;
    padding: 15px 14px;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 4px;
}

.product-list {
    width: 1060px;
    display: grid;
    grid-template-columns: 340px 340px 340px;
    grid-template-rows: auto auto;
    gap: 20px;
    padding: 0;
    margin: 0;
    margin-bottom: 80px;
}

.product-card {
    padding: 20px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}

.product-card-content {
    width: 300px;
}

.product-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 16px;
    margin-top: 16px;
}

.product-info-container {
    display: grid;
    grid-template-columns: 140px 140px;
    grid-template-rows: auto auto auto;
    column-gap: 20px;
    row-gap: 16px;
}

.product-description {
    line-height: 21px;
}

.product-price {
    text-align: right;
}

.product-link {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
}

.product-button {
    padding: 8px 0;
}

.product-button-favourites {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    white-space: nowrap;
    text-decoration: none;
}

.product-rating {
    background-color: #F2F2F2;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 4px;
}

.stars-container {
    display: flex;
    align-items: center;
}

.star {
    width: 18px;
    height: 17px;
    background-image: url(../images/star.svg);
}

.inner-newsletter {
    background-image: none;
    color: #000000;
    background-color: #ffffff;
}


.inner-newsletter-title {
    color: #000000;
}

.inner-newsletter-description {
    color: #333333;
}

.inner-newsletter-form-input {
    background-color: #F2F2F2;
}

.inner-pagination {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 400px;
    padding: 0;
    margin: 0;
    position: relative;
}

.inner-pagination::before {
    content: "";
    width: 1060px;
    height: 1px;
    background-color: #E6E6E6;
    position: absolute;
    top: -40px;
}

.pagination-item {
    padding-top: 12px;
    padding-bottom: 12px;
    width: 60px;
    height: 100%;
    box-sizing: border-box;
}

.pagination-link:focus {
    outline: none;
}

.pagination-cut {
    background-color: transparent;
}

.pagination-link {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: inline-block;
    color: #ffffff;
    text-align: center;
}

.pagination-link-dots {
    color: #000000;
}

.pagination-current-page {
    background-color: #F2F2F2;
}

.pagination-link-current-page {
    color: #000000;
}

.popup {
    display: none;
}

.popup-background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(242, 242, 242, 0.8);;
    z-index: 2;
}

.popup-content {
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 64px 70px;
    width: 717px;
    border-radius: 28px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    transform: translate(0, -50%);
}

.popup-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    margin-bottom: 64px;
    padding: 0;
    text-transform: uppercase;
    text-align: left;
}

.popup-inputs {
    padding: 0;
    margin: 0;
    position: relative;
}

.popup-close-button {
    width: 52px;
    height: 52px;
    border-radius: 30px;
    position: absolute;
    top: -100px;
    left: 542px;
    padding: 0;
    background-color: #F2F2F2;
}

.popup-close-button:hover, .popup-close-button:focus {
    background-color: #E6E6E6;
    outline: none;
}

.popup-close-button:focus {
    outline: 3px solid #83B3D3;
}

.popup-close-button:active {
    background-color: #E6E6E6;
}

.popup-close-button:active > .x-button {
    opacity: 0.3;
}

.x-button {
    width: 15px;
    height: 15px;
    background-image: url(../images/x-button.svg);
    margin: auto;
}

.popup-input-group {
    width: 577px;
    position: relative;
}

.popup-input-group-number {
    display: flex;
    justify-content: space-between;
}

.popup-input-name {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 48px;
    position: relative;
}

.popup-input-name:last-child {
    width: 242px;
}

.popup-info {
    margin-left: 10px;
    margin-right: auto;
    position: relative;
}

.popup-info-button {
    width: 26px;
    height: 26px;
    background-color: #83B3D3;
    border-radius: 20px;
}

.popup-info-icon {
    width: 2px;
    height: 12px;
    margin-left: auto;
    display: inline-block;
    background-image: url(../images/i-icon.svg);
    position: relative;
    left: 12px;
}

.info-button-popup {
    position: absolute;
    top: 30px;
    left: -116px;
    display: none;
}

.popup-info-button:hover > .info-button-popup {
    display: block;
}

.info-button-popup-decoration {
    width: 19px;
    height: 9px;
    background-image: url(../images/info-button-arrow.svg);
    position: relative;
    left: 118.5px;
}

.info-button-popup-text {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #ffffff;
    text-align: left;
    height: auto;
    background-color: #333333;
    margin: 0;
    padding: 21.5px 22.7px;
    border-radius: 10px;
}

.popup-input-number {
    width: 247px;
}

.popup-input {
    background-color: #F2F2F2;
    border: none;
    border-radius: 4px;
    padding: 11px 0;
    padding-left: 20px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    box-sizing: border-box;
}

.input-number {
    width: 110px;
    padding: 12px 40px 12px 40px;
    text-align: center;
    -moz-appearance: textfield;
}

.input-number:focus {
    outline: none;
}

.minus-adults-button, .minus-kids-button,
.plus-adults-button, .plus-kids-button {
    position: absolute;
    width: 40px;
    height: 48px;
    box-sizing: border-box;
    border: none;
    background-color: inherit;
}

.minus-adults-button {
    left: 137px;
    padding-top: 23px;
}

.minus-kids-button {
    left: 132px;
    padding-top: 23px;
}

.plus-adults-button {
    left: 207px;
    padding-top: 17px;
}

.plus-kids-button {
    left: 202px;
    padding-top: 17px;
}

.minus-kids-button, .minus-adults-button {
    padding: 14px 10px;
    border-radius: 4px;
}

.minus {
    display: block;
    opacity: 0.3;
    padding: 9px 3px;
    border-radius: 4px;
}

.plus-kids-button, .plus-adults-button {
    padding: 14px 10px;
}

.plus {
    display: block;
    opacity: 0.3;
    padding: 3px;
    border-radius: 4px;
}

.minus-plus-container {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 4px;
}

button:focus > .minus-plus-container {
    outline: 3px solid #82B3D3;
}

button:focus > .minus, button:focus > .plus {
    filter: brightness(0) saturate(100%);
    opacity: 1;
}

button:hover > .minus, button:hover > .plus {
    opacity: 1;
    filter: brightness(0) saturate(100%);
}

button:active > .minus, button:active > .plus {
    opacity: 0.3;
    filter: brightness(0) saturate(100%) invert(41%) sepia(27%) saturate(304%) hue-rotate(336deg) brightness(89%) contrast(91%);
}

.plus-kids-button:focus, .plus-adults-button:focus,
.minus-kids-button:focus, .minus-adults-button:focus {
    outline: none;
}

.input-date {
    width: 440px;
    font-size: 18px;
    line-height: 24px;
}

.input-date[value] {
    opacity: 0.6;
}

.input-date:hover, .input-date:focus {
    background-color: #E6E6E6;
    outline: none;
}

.input-date:focus {
    outline: 3px solid #83B3D3;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

input[type="date"]::-moz-calendar-picker-indicator {
    display: none;
}

.calendar-image {
    position: absolute;
    top: 16px;
    left: 541px;
    width: 16px;
    height: 15px;
    background-image: url(../images/calendar.svg);
    opacity: 0.3;
}

.popup-date-error-message, .popup-availability-message {
    color: #FF5757;
    font-size: 16px;
    line-height: 21px;
    position: absolute;
    top: 52px;
    left: 157px;
}

.popup-availability-message {
    color: #333333;
    top: 148px;
}

.popup-submit-button {
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
    width: 577px;
    padding: 18px 0;
    color: #ffffff;
    background-color: #83B3D3;
}

.popup-submit-button:active {
    background-color: #68A2CA;
}
