@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
    min-width: 100%;
    margin: 0;
}

fieldset {
    border: 0;
}

p, span {
    color: #333333;
}

ul {
    list-style: none;
}

.button {
    border-radius: 4px;
    border: none;
}

.page-header {
    z-index: 1;
}

.header-container {
    box-sizing: border-box;
    padding: 0 70px;
    margin: 0 auto;
    width: 1200px;
}

.main-index-container {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

.main-catalog-container {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.footer-container {
    width: 1200px;
    margin: 0 auto;
}

.main-navigation {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    display: flex;
    height: min-content;
    justify-content: space-between;
}

.main-navigation-list {
    width: 339px;
    display: flex;
    justify-content: space-between;
    margin-left: 28px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    height: min-content;
}

.main-navigation-item {
    padding: 20px 16px;
    height: min-content;
}

.main-navigation-item:first-child, .main-navigation-item:nth-child(3) {
    padding-left: 0;
    padding-right: 0;
    margin-left: 16px;
    margin-right: 16px;
}

.main-navigation-user {
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
    align-items: baseline;
    width: 268px;
}

.main-navigation-link {
    color: #000000;
    text-decoration: none;
}

.main-navigation-user-link {
    width: 100%;
    height: 100%;
    padding: 22px 12px;
    display: inline-block;
    box-sizing: border-box;
}

.main-navigation-user-item {
    margin: 0;
    width: 44px;
    height: 64px;
    box-sizing: border-box;
    position: relative;
}

.favourites-counter-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: #7DB54F;
    border-radius: 10px;
    top: 10px;
    left: 20px;
    box-sizing: border-box
}

.favourites-counter {
    position: relative;
    color: #ffffff;
    font-size: 10px;
    line-height: 10px;
    font-weight: 400;
    top: -5.5px;
}

.main-naviagtion-button-item {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
}

.main-navigation-button {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-transform: uppercase;
    background-color: #756157;
    color: #ffffff;
    white-space: nowrap;
    width: 160px;
}

.index-background {
    width: 100%;
    height: 485px;
    display: flex;
    background-image: url(../images/index-background.jpg);
    flex-wrap: wrap;
    position: relative;
    top: -10px;
    margin-bottom: -10px;
}

.welcome-svg {
    width: 458px;
    height: 352px;
    background-image: url(../images/welcome.svg);
    margin: 51px auto 25px auto;
}

.divider {
    width: 1200px;
    height: 57px;
    background-image: url(../images/divider.png);
}

.visually-hidden {
    display: none;
}

.search {
    width: 20px;
    height: 20px;
    margin: auto;
    background-image: url(../images/search.svg);
    background-repeat: no-repeat;
    box-sizing: border-box;
    display: inline-block;
}

.favourites {
    width: 20px;
    height: 20px;
    margin: auto;
    background-image: url(../images/favoutites.svg);
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
}

.advantages {
    text-align: center;
}

.advantages-header {
    padding-top: 69px;
    padding-bottom: 69px;
}

.advantages-container {
    margin: 0;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: auto auto auto;
}

.advantages-list {
    padding: 0;
}

.advantages-item {
    padding: 81px 85px;
    box-sizing: border-box;
}

.advantages-item:nth-child(3), .advantages-item:nth-child(4), .advantages-item:nth-child(5) {
    grid-row-start: 2;
}

.advantages-item:last-child {
    grid-column-start: 3;
}

.city-image {
    background-image: url(../images/advantages-city.jpg);
    width: 800px;
    height: 391px;
    background-size: cover;
}

.bridge-image {
    background-image: url(../images/advantages-bridge.jpg);
    width: 800px;
    height: 391px;
    background-size: cover;
}

.advantages-city-image {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 4;
}

.advantages-bridge-iamge {
    grid-row-start: 3;
}

.advantages-item:nth-child(3), .advantages-item:nth-child(5) {
    background-color: #83B3D31F;
}

.advantages-header-title {
    color: #000000;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.advantages-header-description {
    font-size: 22px;
    line-height: 26px;
    margin-top: 25px;
    margin-bottom: 0;
}

.advantages-item-description {
    line-height: 21px;
}

.advantages-item-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
}

.advantages-item-title::after {
    content: "";
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 36px;
    display: block;
    width: 60px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.3);
}

.advantages-item-title-accent::after {
    background-color: rgba(255, 255, 255, 0.3);
}

.advantages-item-accent {
    background-color: #82B3D3;
    color: #ffffff;
}

.advantages-item-description-accent {
    color: #ffffff;
}

.advantages-item:nth-child(4) {
    background-color: #83B3D333;
}

.services {
    text-align: center;
}

.services-list {
    width: 1200;
    padding: 0;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 1fr;
    margin-top: 0;
}

.house-image {
    background-image: url(../images/house.svg);
    width: 75px;
    height: 72px;
    margin: 0 auto;
    background-repeat: no-repeat;
}

.burger-image {
    background-image: url(../images/burger.svg);
    width: 75px;
    height: 72px;
    margin: 0 auto;
    background-repeat: no-repeat;
}

.gift-image {
    background-image: url(../images/gift.svg);
    width: 75px;
    height: 76px;
    margin: 0 auto;
    background-repeat: no-repeat;
}

.services-header {
    padding-top: 64px;
    padding-bottom: 64px;
}

.services-header-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.services-header-description {
    font-size: 22px;
    line-height: 26px;
    margin-top: 20px;
    margin-bottom: 0;
}

.services-item {
    padding: 80px 85px;
}

.services-item:first-child, .services-item:last-child {
    background-color: #83B3D31F;
}

.services-item-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
}

.services-item-description {
    line-height: 21px;
}

.hotel-search {
    text-align: center;
    padding: 96px 304px;
}

.hotel-search-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.hotel-search-description {
    font-size: 22px;
    line-height: 26px;
    margin-top: 20px;
    margin-bottom: 54px;
}

.hotel-search-link {
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
}

.hotel-search-button {
    box-sizing: border-box;
    width: 376px;
    background-color: #756157;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    padding: 13px 50px;
}

.page-footer {
    text-align: center;
}

.newsletter {
    background-image: url(../images/footer-background.jpg);
    background-size: 100% auto;
    color: #ffffff;
    padding: 96px 258px 104px;
    background-color: #000000;
}

.newsletter-title {
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.newsletter-description {
    color: #ffffff;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    margin-bottom: 53px;
}

.newsletter-form {
    display: grid;
    grid-template-columns: 452px 232px;
    grid-template-rows: auto;
}

.newsletter-form-input {
    line-height: 24px;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 18px;
    padding-left: 15px;
    color: rgba(0, 0, 0, 0.6);
}

.newsletter-form-button {
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #82B3D3;
    border: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.footer-contacts-container {
    display:flex;
    justify-content: space-between;
    padding: 40px 70px 30px 70px;
}

.footer-social-list {
    display: flex;
    width: 142px;
    justify-content: space-around;
    padding: 0;

}

.footer-social-link {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.vk-logo {
    width: 24px;
    height: 14px;
    background-image: url(../images/VK.svg);
}

.telegram-logo {
    width: 18px;
    height: 16px;
    background-image: url(../images/telegram.svg);
}

.youtube-logo {
    width: 22px;
    height: 17px;
    background-image: url(../images/youtube.svg);
}

.footer-contacts {
    display: flex;
}

.footer-contacts-link {
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}

.main-navigation-link-current {
    border-bottom: 2px solid #756257;
}

.inner-header {
    color: #ffffff;
}

.catalog-background {
    width: 1200px;
    height: 408px;
    background-image: url(../images/catalog-background.jpg);
    padding: 35px 70px 70px 70px;
    box-sizing: border-box;
    position: relative;
    top: -10px;
    margin-bottom: -10px;
}

.inner-header-title {
    font-size: 60px;
    font-weight: 700;
    line-height: 78px;
    margin-top: 0;
    margin-bottom: 8px;
}

.breadcrumbs {
    display: flex;
    width: 114px;
    padding-left: 0;
    justify-content: space-between;
    margin: 0;
    align-items: baseline;
    margin-bottom: 40px;
}

.breadcrumbs-item:first-child {
    width: 13px;
    height: 13px;
}

.breadcrumbs-house-svg {
    background-image: url(../images/home-page.svg);
    width: 13px;
    height: 13px;
    background-repeat: no-repeat;
}

.arrow-svg {
    background-image: url(../images/arrow.svg);
    width: 8px;
    height: 11px;
    background-repeat: no-repeat;
}

.breadcrumbs-link {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    line-height: 21px;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.breadcrumbs-house-icon {
    background-image: url(../images/);
    background-repeat: no-repeat;
}

.catalog-filters-form {
    width: 1060px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.catalog-filter-group-price {
    padding: 0;
}

.catalog-filter-group {
    padding: 0;
    margin: 0;
}

.catalog-filter-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 32px;
}

.catalog-filter-list {
    line-height: 23px;
    padding: 0;
    margin: 0;
}

.catalog-filter-item {
    margin-bottom: 16px;
}

.catalog-filter-item:last-child {
    margin-bottom: 0;
}

.control-checkbox::before {
    content:"";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: #ffffff;
    position: absolute;
}

.control-radio::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    position: absolute;
}

.control-input {
    appearance: none;
    position: absolute;
}

.price-filter-group {
    display: grid;
    grid-template-columns: 143px 143px;
    grid-template-rows: auto;
    margin-bottom: 10px;
    gap: 2px;
    position: relative;
    width: 288px;
}

.price-control-from, .price-control-to {
    position: absolute;
    color: rgba(0, 0, 0, 0.3);
    font-weight: 400;
    font-size: 16px;
}

.price-control-from {
    top: 10px;
    left: 108px;
}

.price-control-to {
    top: 10px;
    left: 253px;
}

.price-filter-range {
    width: 287px;
}

.input-price-filter {
    width: 143px;
    padding: 9px 0 15px 15px;
    border: none;
    box-sizing: border-box;
    font-weight: 700;
    line-height: 24px;
}

.input-price-filter-from {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.input-price-filter-to {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.catalog-filter-button-group {
    width: 191px;
}

.catalog-filter-button {
    background-color: #82B3D3;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    width: 191px;
    padding: 8px 12px;
}

.catalog-filter-button:first-child {
    margin-bottom: 32px;
}

.transparent-filter-button {
    background-color: transparent;
}

.catalog-results {
    padding: 50px 70px 60px 70px;
}

.catalog-results-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 1060px;
    margin-bottom: 40px;
}

.catalog-results-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    padding: 6px 0 6px 0;
    text-transform: uppercase;
    color: #000000;
}

.catalog-select {
    margin: auto 70px auto auto;
    position: relative;
}

.catalog-select::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 17px;
    width: 12px;
    height: 9px;
    background-image: url(../images/select-arrow.svg);
    z-index: -1;
}

.select-control {
    line-height: 21px;
    font-size: 16px;
    width: 292px;
    padding: 12px 15px;
    border: 2px solid #F2F2F2;
    border-radius: 4px;
    appearance: none;
    background: none;
}

.showcase-modes {
    display: flex;
    width: 160px;
    justify-content: space-between;
    padding: 0;
    margin: auto 0 auto 0;
}

.showcase-mode {
    box-sizing: border-box;
    border: 2px solid #F2F2F2;
    border-radius: 4px;
    width: 48px;
    height: 48px;
}

.mode-image {
    width: 16px;
    height: 14px;
    margin: auto;
}

.cards-mode {
    background-image: url(../images/button-cards.svg);
    background-repeat: no-repeat;
}

.fullscreen-mode {
    background-image: url(../images/button-fullscreen.svg);
    background-repeat: no-repeat;
}

.list-mode {
    background-image: url(../images/button-list.svg);
    background-repeat: no-repeat;
}

.showcase-modes-link {
    width: 100%;
    height: 100%;
    padding: 15px 14px;
    box-sizing: border-box;
    display: inline-block;
}

.product-list {
    width: 1060px;
    display: grid;
    grid-template-columns: 340px 340px 340px;
    grid-template-rows: auto auto;
    gap: 20px;
    padding: 0;
    margin: 0;
    margin-bottom: 80px;
}

.product-card {
    padding: 20px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}

.product-card-content {
    width: 300px;
}

.product-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 16px;
    margin-top: 16px;
}

.product-info-container {
    display: grid;
    grid-template-columns: 140px 140px;
    grid-template-rows: auto auto auto;
    column-gap: 20px;
    row-gap: 16px;
}

.product-description {
    line-height: 21px;
}

.product-price {
    text-align: right;
}

.product-link {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #756157;
    text-decoration: none;
}

.product-button {
    padding: 8px 0;
}

.product-button-favourites {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    background-color: #82B3D3;
    white-space: nowrap;
    text-decoration: none;
}

.product-rating {
    background-color: #F2F2F2;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
}

.stars-container {
    display: flex;
    align-items: center;
}

.star {
    width: 18px;
    height: 17px;
    background-image: url(../images/star.svg);
}

.inner-newsletter {
    background-image: none;
    color: #000000;
    background-color: #ffffff;
}


.inner-newsletter-title {
    color: #000000;
}

.inner-newsletter-description {
    color: #333333;
}

.inner-newsletter-form-input {
    background-color: #F2F2F2;
}

.inner-pagination {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 400px;
    padding: 0;
    margin: 0;
    position: relative;
}

.inner-pagination::before {
    content: "";
    width: 1060px;
    height: 1px;
    background-color: #E6E6E6;
    position: absolute;
    top: -40px;
}

.pagination-item {
    padding-top: 12px;
    padding-bottom: 12px;
    width: 60px;
    height: 100%;
    background-color: #82B3D3;
    box-sizing: border-box;
    border-radius: 4px;
}

.pagination-cut {
    background-color: transparent;
}

.pagination-link {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: inline-block;
    color: #ffffff;
    text-align: center;
}

.pagination-link-dots {
    color: #000000;
}

.pagination-current-page {
    background-color: #F2F2F2;
}

.pagination-link-current-page {
    color: #000000;
}

.popup {
    display: none;
}

.popup-background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(242, 242, 242, 0.8);;
    z-index: 2;
}

.popup-content {
    position: fixed;
    top: 14%;
    left: 30.5%;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 64px 70px;
    width: 717px;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.popup-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    margin-bottom: 64px;
    padding: 0;
    text-transform: uppercase;
    text-align: left;
}

.popup-inputs {
    padding: 0;
    margin: 0;
    position: relative;
}

.popup-close-button {
    width: 52px;
    height: 52px;
    border-radius: 30px;
    position: absolute;
    top: -100px;
    left: 542px;
    padding: 0;
}

.x-button {
    width: 15px;
    height: 15px;
    background-image: url(../images/x-button.svg);
    margin: auto;
}

.popup-input-group {
    width: 577px;
}

.popup-input-group-number {
    display: flex;
    justify-content: space-between;
}

.popup-input-name {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 48px;
    position: relative;
}

.popup-input-name:last-child {
    width: 242px;
}

.popup-info-button {
    width: 26px;
    height: 26px;
    background-color: #83B3D3;
    border-radius: 20px;
    margin-right: auto;
    margin-left: 10px;
}

.popup-info-icon {
    width: 2px;
    height: 12px;
    margin-left: auto;
    display: inline-block;
    background-image: url(../images/i-icon.svg);
    position: relative;
    left: 12px;
}

.popup-input-number {
    width: 247px;
}

.popup-input {
    background-color: #F2F2F2;
    border: none;
    border-radius: 4px;
    padding: 11px 0;
    padding-left: 20px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    box-sizing: border-box;
}

.input-number {
    width: 110px;
}

.input-date {
    width: 440px;
}

.popup-submit-button {
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
    width: 577px;
    padding: 18px 0;
    background-color: #83B3D3;
    color: #ffffff;
}
